@import "../../public/styles/mixins.scss";
@import "../../public/styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

.unicefSection {
  @include flex($justify: center);
  gap: 0.625rem;

  background-color: rgb(245, 245, 247);
  margin: 0 auto;
  padding: 1.25rem 0;
}

.unicef {
  @include flex($justify: center, $align: center, $direction: column);

  @include media(tablet) {
    @include flex();
  }

  &__image {
    @include flex($direction: column, $align: center);
    height: 1.875rem;
  }
  &__link {
    width: 12.5rem;
    text-align: center;
    font-size: 0.9375rem;
    align-self: center;

    @include media(tablet) {
      width: initial;
    }

    &-blue {
      color: link-body;
    }
  }
}

.imageSection {
  @include flex($direction: column, $align: center);
}

.iphone13Section {
  @include flex($direction: column, $align: center);

  padding: 3.625rem;
  text-align: center;

  &--background {
    background-image: url("../images/hero_iphone13pro_avail__iy77cld0zwii_small_2x.jpg");
    background-size: cover;
    width: 100%;
    height: 35.75rem;
    background-position: 50% 0rem;

    @include media(tablet) {
      background-image: url("../images/hero_iphone13pro_avail__iy77cld0zwii_largetall_2x.jpg");
      height: 43.75rem;
    }
  }
}

.iphoneseSection {
  @include flex($direction: column, $align: center);

  padding: 3.625rem;
  text-align: center;

  &--background {
    background-image: url("../images/hero_iphonese_avail__eg8srhcnpo66_small_2x.jpg");
    background-size: cover;
    width: 100%;
    height: 35.75rem;
    background-position: 50% 0rem;

    @include media(tablet) {
      background-image: url("../images/hero_iphonese_avail__eg8srhcnpo66_largetall_2x.jpg");
      height: 43.75rem;
    }
  }

  &__image {
    height: 2rem;

    @include media(tablet) {
      height: 3rem;
    }
  }
}

.linkContainer {
  display: flex;
  gap: 1.25rem;
  padding: 0.625rem;

  @include media(tablet) {
    font-size: 20px;
  }

  & a {
    color: $link-body;
  }
}
