@import "../../public/styles/mixins.scss";
@import "../../public/styles/variables.scss";

nav {
  background-color: black;
  position: sticky;
  width: 100%;
  top: 0;
}

.navBtn {
  border: none;
  background: none;
  opacity: 0.7;

  &:hover {
    background: none;
    opacity: 1;
    cursor: pointer;
  }
}

.navContainer {
  @include flex($justify: space-between);

  margin-left: 20px;
  margin-right: 20px;

  @include media(desktop) {
    @include flex($justify: center, $gap: 2.8125rem);
  }
}

.searchImage {
  width: 195%;
  height: 42px;
  object-fit: none;
  object-position: 50% 0px;
}

.burgerMenu {
  color: white;
  font-size: 30px;

  @include media(tablet) {
    display: none;
  }

  &__btn {
    @extend .navBtn;
  }
}

.mobileHide {
  display: none;

  @include media(tablet) {
    display: block;
  }
}
