@import "../../public/styles/mixins.scss";
@import "../../public/styles/variables.scss";

nav {
  background-color: black;
  position: sticky;
  width: 100%;
  top: 0;
}

.nav-btn {
  border: none;
  background: none;
  opacity: 0.7;
}

.nav-btn:hover {
  background: none;
  opacity: 1;
  cursor: pointer;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;

  @include media(desktop) {
    justify-content: space-evenly;
  }
}

.search-image {
  width: 195%;
  height: 42px;
  object-fit: none;
  object-position: 50% 0px;
}

.bars {
  color: white;
  font-size: 30px;

  @include media(tablet) {
    display: none;
  }
}

.mobileHide {
  display: none;

  @include media(tablet) {
    display: block;
  }
}
