nav {
  background-color: black;
  position: sticky;
  width: 100%;
  top: 0;
}

.nav-btn {
  border: none;
  background: none;
  opacity: 0.7;
}

.nav-btn:hover {
  background: none;
  opacity: 1;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-image {
  width: 195%;
  height: 42px;
  object-fit: none;
  object-position: 50% 0px;
}
