@import "../../public/styles/mixins.scss";
@import "../../public/styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

footer {
  background-color: $primary-bg-color;
  padding: 1.25rem;
  font-size: 0.75rem;
  color: rgb(110, 110, 115);
  margin-top: 0.9375rem;
}

.wrapper {
  max-width: 61.25rem;
  margin: 0 auto;
}

a {
  color: $link-primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

li {
  margin: 0.25rem;
}

.linkContainer {
  padding: 0.625rem;

  @include media(tablet) {
    font-size: 1.25rem;
  }

  & > a {
    color: $link-body-color;
  }
}

.footerMenuMobile {
  @include flex($direction: column);
  margin: 0.625rem;
  width: 100%;

  &__items {
    width: 100%;

    & > li {
      @include flex($justify: space-between);
      cursor: pointer;
      border-bottom: 0.0625rem solid rgb(227, 227, 231);
      padding: 0.625rem;

      &:hover {
        color: rgb(34, 34, 34);
      }
    }

    &--mobile {
      @include media(desktop) {
        display: none;
      }
    }
  }
}

.itemsMobile__detail {
  padding-left: 1.5rem;

  & > li {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }
}

.footerMenuDesktop {
  display: none;

  @include media(desktop) {
    @include flex($justify: space-between);
    padding-bottom: 0.625rem;
    min-width: 65%;

    &__items {
      @include flex($direction: column);
    }

    &__list {
      @include flex($direction: column);
      padding: 0.625rem;

      &__boldElem {
        font-weight: 500;
        color: rgb(0, 0, 0);
      }
    }
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.footerTopElement {
  color: rgb(119, 119, 124);
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid rgb(210, 210, 215);
}

.footerBottomElement {
  color: rgb(119, 119, 124);
  padding-bottom: 0.55rem;
  margin-bottom: 0.55rem;

  @include media(desktop) {
    border-bottom: 0.0625rem solid rgb(210, 210, 215);
  }

  &--middle {
    padding-bottom: 0.3125rem;
  }
}

.blueLink {
  color: $link-body-color;
}

.footerCredits {
  @include flex($direction: column);

  &__items {
    @include flex($justify: space-between, $wrap: wrap, $gap: 0.1875rem);

    padding: 0;
    width: 100%;
  }
  &__order {
    @include flex();
    &__details {
      @include flex();

      border-right: 0.0625rem solid rgb(210, 210, 215);
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }

    &__languageAlign {
      text-align: end;
    }
  }
}
