@import "../../public/styles/mixins.scss";
@import "../../public/styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

footer {
  background-color: $primary-bg-color;
  padding: 20px;
  font-size: 12px;
  color: rgb(110, 110, 115);
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

a {
  color: $link-primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

li {
  margin: 4px;
}

//refactor needed here
@media screen and (max-width: 54.875rem) {
  .copyright-language {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
  }

  .container-mobile-order {
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }
}

.linkContainer {
  padding: 0.625rem;

  @include media(tablet) {
    font-size: 20px;
  }
}

.linkContainer a {
  color: $link-body-color;
}

.footerMenuMobile {
  @include flex($direction: column);
  margin: 10px;
  width: 100%;

  &__items {
    width: 100%;

    & > li {
      @include flex($justify: space-between);
      cursor: pointer;
      border-bottom: 1px solid #e3e3e7;
      padding: 10px;

      &:hover {
        color: #222;
      }
    }

    &--mobile {
      @include media(desktop) {
        display: none;
      }
    }
  }
}

.itemsMobile__detail {
  padding-left: 1.5rem;

  & > li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.footerMenuDesktop {
  display: none;

  @include media(desktop) {
    @include flex($justify: space-between);
    padding-bottom: 10px;
    min-width: 65%;

    &__items {
      @include flex($direction: column);
    }

    &__list {
      @include flex($direction: column);
      padding: 10px;

      &__boldElem {
        font-weight: 500;
        color: black;
      }
    }
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footerTopElement {
  color: rgb(119, 119, 124);
  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgb(210, 210, 215);
}

.footerBottomElement {
  color: rgb(119, 119, 124);
  padding-bottom: 0.55rem;
  margin-bottom: 0.55rem;

  @include media(desktop) {
    border-bottom: 1px solid rgb(210, 210, 215);
  }

  &--middle {
    padding-bottom: 5px;
  }
}

.blueLink {
  color: $link-body-color;
}

.footerCredits {
  display: flex;
  flex-direction: column;

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0;
    gap: 3px;
    width: 100%;
  }
  &__order {
    display: flex;

    &__details {
      display: flex;

      border-right: 1px solid rgb(210, 210, 215);
      padding-right: 10px;
      padding-left: 10px;
    }

    &__languageAlign {
      text-align: end;
    }
  }
}

.container-items-rows {
  display: flex;
}

.container-mobile-order {
  display: flex;
  flex-wrap: wrap;
}

.single-item-row {
  border-right: 1px solid rgb(210, 210, 215);
  padding-right: 10px;
  padding-left: 10px;
}

.container-items-rows:last-child {
  border-right: none;
}

.container-items-rows:first-child {
  padding-left: 0;
}

.copyright-language {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 3px;
  width: 100%;
}

.language-align {
  text-align: end;
}

.footer-head-container {
  display: flex;
  flex-direction: column;
}

.footer-middle-element {
  padding-bottom: 5px;
}

.col-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  min-width: 65%;
}

.container__colItems {
  display: flex;
  flex-direction: column;
}

.container__colItems__list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container__colItems__list__boldElem {
  font-weight: 500;
  color: black;
}

.link-blue {
  color: $link-body-color;
}
.link-white {
  color: rgb(255, 255, 255);
}
